<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quote_email>
            <quote>
                <template>sales_email_quote_template</template>
                <guest_template>sales_email_quote_template</guest_template>
                <email_identity>general</email_identity>
                <copy_method>bcc</copy_method>
            </quote>
        </quote_email>
    </default>
</config>
