<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_sales_order_create_process_data_before">
        <observer name="beebots_save_customer_when_save_and_close_quote" instance="\BeeBots\AdminCustomerQuote\Observer\SaveCustomerBeforeClose" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="beebots_update_quote_customer_group_if_necessary" instance="\BeeBots\AdminCustomerQuote\Observer\UpdateQuoteCustomerGroupWhenCustomerGroupIsChanged"/>
    </event>
    <event name="adminhtml_customer_prepare_save">
        <observer name="beebots_save_off_previous_customer_group" instance="\BeeBots\AdminCustomerQuote\Observer\UpdateQuoteCustomerGroupWhenCustomerGroupIsChanged"/>
    </event>
</config>
